.App {
  text-align: center;
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #EDEDED;
  margin: 0;
  padding: 0;
  border: solid 0.2vw black;
}

.pdf-container1{
  width: 96%;
  height: 91%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

